# ~/.config/systemd/user/sunshine.service
[Unit]
Description=Sunshine game-streaming host
PartOf=graphical-session.target
After=graphical-session.target

[Service]
#ExecStartPre=%h/.config/sunshine/create_screen.sh
ExecStart=/usr/bin/sunshine
Restart=on-failure

[Install]
WantedBy=graphical-session.target
