(jellyfin_common) {
	encode zstd gzip
}

{{ (keepassxc "jellyfin-domain").UserName }} {
	import jellyfin_common
	reverse_proxy jellyfin:8096 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up Host {host}
  }
}

{{ (keepassxc "jellyseerr-domain").UserName }} {
	import jellyfin_common
	reverse_proxy jellyseerr:5055 {
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up Host {host}
  }
}
